*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
workshop-project/.Rproj.user
workshop-project/.Rhistory
.bundle/
.vendor/
vendor/
.docker-vendor/
Gemfile.lock
.*history
.Rproj.user
